@charset "UTF-8";
body {
    background-color: rgb(243, 235, 223);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
h1 {
    background-color: rgb(243, 146, 0);
}

h2 {
    color: rgb(255, 17, 0);
}

p {
    text-align: justify;
}

#direita {  
    text-align: right;
}